* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 100%;
    background: #fff;
    font-family: Nunito Sans;
}

.container {
    margin: 0 auto;
    width: 85%;
    max-width: 1000px;
}

.content {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    display: grid;
}

.content img {
    width: 100%;
    min-width: 85%;
    min-height: 400px;
    object-fit: cover;
    justify-self: center;
}

.content h3 {
    font-size: 20px;
    color: #000;
    margin: 20px 0;
    justify-self: center;
    font-family: Nunito Sans;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5px;
}

.content p {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #596479;
}

.button {
    width: 100%;
    border-radius: 100px;
    background: #e71e50;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}