* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  background: #fff;
  font-family: Nunito Sans;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1000px;
}

.content {
  width: 100%;
  height: 100%;
  margin: 50px auto;
  display: grid;
}

.header_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snippet {
  margin-left: 22px;
  margin-top: 10px;
}

/* .video_camera {
  min-width: 200px;
  min-height: 400px;
  margin: 30px auto;
  position: relative;
  border-radius: 50%;
} */

/* .video_camera video {
  width: 200px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
} */

canvas {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content h3 {
  font-size: 20px;
  color: #363636;
  margin: 20px 0;
  justify-self: center;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.5px;
}

button {
  width: 100%;
  height: 50px;
  border-radius: 100px;
  background: #e71e50;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
}